@font-face {
    font-family: "yekanbakh";
    font-weight: 100;
    font-style: normal;
    src: url("../../fonts/yb/normal.woff");
}

@font-face {
    font-family: "yekanbakh";
    font-weight: normal;
    font-style: normal;
    src: url("../../fonts/yb/500.woff");
}

@font-face {
    font-family: "yekanbakh";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/yb/bold.woff");
}

@font-face {
    font-family: "yekanbakh";
    font-weight: 900;
    font-style: normal;
    src: url("../../fonts/yb/yf.woff");
}