:root {

    //colors
    --color-white: #fff;
    --color-marvel: #fbfbff;
    --color-text: #324452;
    --color-glory: #050038;
    --color-primary: #3d53e5;

    //sizes
    --border-radius: 6px;
}